@font-face {
    font-family: 'MonoSocialIconsFont';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Futuris';
	src: url('../fonts/FuturisCyrillic-webfont.eot');
	src: url('../fonts/FuturisCyrillic-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturisCyrillic-webfont.woff') format('woff'),
		url('../fonts/FuturisCyrillic-webfont.ttf') format('truetype'),
		url('../fonts/FuturisCyrillic-webfont.svg#FuturisCyrillic-webfont') format('svg');
	font-weight:Cyrillic;
	font-style:Cyrillic;
}
@font-face {
		font-family:'FuturisCyrillic-Regular';
	src: url('../fonts/FuturisCyrillic_gdi.eot');
	src: url('../fonts/FuturisCyrillic_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturisCyrillic_gdi.woff') format('woff'),
		url('../fonts/FuturisCyrillic_gdi.ttf') format('truetype'),
		url('../fonts/FuturisCyrillic_gdi.svg#FuturisCyrillic-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00BF;
}
@font-face {
	font-family: 'Futuris';
	src: url('../fonts/Futuris-webfont.eot');
	src: url('../fonts/Futuris-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Futuris-webfont.woff') format('woff'),
		url('../fonts/Futuris-webfont.ttf') format('truetype'),
		url('../fonts/Futuris-webfont.svg#Futuris-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futuris';
	src: url('../fonts/Futuris-Bold-webfont.eot');
	src: url('../fonts/Futuris-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Futuris-Bold-webfont.woff') format('woff'),
		url('../fonts/Futuris-Bold-webfont.ttf') format('truetype'),
		url('../fonts/Futuris-Bold-webfont.svg#Futuris-Bold-webfont') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueUltraLight';
    src: url('../fonts/HelveticaNeueUltraLight.eot');
    src: url('../fonts/HelveticaNeueUltraLight.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueUltraLight.woff2') format('woff2'),
         url('../fonts/HelveticaNeueUltraLight.woff') format('woff'),
         url('../fonts/HelveticaNeueUltraLight.ttf') format('truetype'),
         url('../fonts/HelveticaNeueUltraLight.svg#HelveticaNeueUltraLight') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueLTStdThEx_0';
    src: url('../fonts/HelveticaNeueLTStdThEx_0.eot');
    src: url('../fonts/HelveticaNeueLTStdThEx_0.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLTStdThEx_0.woff2') format('woff2'),
         url('../fonts/HelveticaNeueLTStdThEx_0.woff') format('woff'),
         url('../fonts/HelveticaNeueLTStdThEx_0.ttf') format('truetype'),
         url('../fonts/HelveticaNeueLTStdThEx_0.svg#HelveticaNeueLTStdThEx_0') format('svg');
}


@font-face {
	font-family:'HelveticaNeue-Regular';
	src: url('../fonts/HelveticaNeue_gdi.eot');
	src: url('../fonts/HelveticaNeue_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeue_gdi.woff') format('woff'),
		url('../fonts/HelveticaNeue_gdi.ttf') format('truetype'),
		url('../fonts/HelveticaNeue_gdi.svg#HelveticaNeue-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}
@font-face {
	font-family:'HelveticaNeue-Bold';
	src: url('../fonts/HelveticaNeue-Bold_gdi.eot');
	src: url('../fonts/HelveticaNeue-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeue-Bold_gdi.woff') format('woff'),
		url('../fonts/HelveticaNeue-Bold_gdi.ttf') format('truetype'),
		url('../fonts/HelveticaNeue-Bold_gdi.svg#HelveticaNeue-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}
